/*@import 'https://fonts.googleapis.com/css?family=Bree+Serif';*/

html, body{
  position: absolute;
  left:0;right:0;top:0;bottom:0;
  width:100%;height:100%;
  overflow: hidden;
  margin:0;
  background-image:url("images/background.jpg");
  background-size: cover;
  font-family: Ubuntu, "times new roman", times, roman, serif;
  /*font-family: Andale Mono, monospace;*/
}

a{
  color: #e14fe0;
  text-decoration: none;
}

::selection {
  background: #a922ac; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #a922ac; /* Gecko Browsers */
}

.center-section-container{
  position: absolute;
  left:16px;right:16px;bottom:16px;top:30px;
  margin:auto;
}

.center-section-container > h1 {
  position: absolute;
  color:#eee;
  top: -16px; left:25px;
}

/* General Section Styles */
.section{

}

.column{
  float: left;
  max-width: 33%;
}

.columns:after{
  content: "";
  display: table;
  clear: both;
}

/* About Me Section */
.about-me-section{
  position: absolute;
  right:50px;top:76px;bottom:45px;
  width: 225px;
  background: rgba(0,0,0,0.75);
  border-radius: 10px;
  border:none;
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

.about-me-tab{
  display: none;
}

.about-me-tab h3{
  margin-top: 0;
}
.about-me-tab ul{
  /*margin-top: 60px;*/
  width:85%;
}

.about-me-section .highlighter{
  width:146px;
  background:#a922ac;
  font-size: x-large;
}

.about-me-section h4{
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: normal;
}
.about-me-section ul{
  margin-right: 16px;
  padding-left: 16px;
  margin-top: 16px;
  list-style: none;
}
.about-me-section li{
  margin-bottom:8px;
}

.about-me-section .scroller{
  margin-top: 73px;
  font-size: large;
}

/* Tabs Section */
.tabs-container{
  position: absolute;
  left:25px;bottom:25px;top:100px;right:325px;
  font-size: large;
}


/* Professional History */

.prof-history .resume-section{
  margin-left:32px;
}
.prof-history .scroller{
  margin-top:16px;
  margin-bottom: 16px;
}
.resume h3{
  text-decoration: underline;
  margin-top: 32px;
  margin-left: 16px;
}
.resume h3:first-child{
  margin-top:0;
}
.resume-section h4{
  margin-bottom:0;
}
.resume-section p {
  margin: 0;
}
.resume-section ul{
  margin:0;
}
.resume-section .position{
  font-style: italic;
}

/* Who am I? */
.who-am-i p{
  margin:16px;
}
.who-am-i h4{
  margin: 16px;
}
.who-am-i .image-section{
  max-width: 340px;
}
.who-am-i .image-section > img{
  max-width: 100%; max-height: 100%;
}

/* Projects */
.projects .scroller div{
  width: 90%;
  margin: auto;
  margin-top:32px;
}

.projects h4, .projects h3, .projects h2{
  margin: 16px;
  text-align: center;
}
.projects h3{
  margin-top: 32px;
}

.projects img, .projects iframe{
  width:75%;
  display: block;
  margin: 16px auto;
  border-radius: 10px;
  border: 0px;
}
.projects img.small{
  max-width: 300px;
}
.projects p{
  width: 100%;
  text-align: center;
}

/* Tabs */
.tabs-section{
  position: absolute;
  left:0;right:0;top:0;bottom:0;
}
.tab{
  float:left;
  width: 33.333%;
}

.tab label{
  display: inline-block;
  background: #000;
  padding: 10px 0;
  margin-left: -1px;
  position: relative;
  left: 1px;top: -25px;
  width: 100%;
  color: #fff;
  text-align: center;
  border-left: 1px solid #eee;
  cursor: pointer;
  font-size: x-large;
}

.tab:nth-child(1) > label{
  border: 0px;
  border-top-left-radius: 10px;
}
.tab:nth-child(3) > label{
  border-top-right-radius: 10px;
}

.tab [type=radio]{
  display: none;
}

.content{
  position: absolute;
  top: 28px;left:0;right:0;bottom:20px;
  background: rgba(0,0,0,0.75);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  padding: 20px;
  display:none;
  overflow: hidden;
}

.scroller{
  position: absolute;
  left:0;right:0;top:0;bottom:0;
  overflow-y: auto;
}

.scroller::-webkit-scrollbar{
  background:transparent;
  width:8px;
  height:8px;
}

.scroller::-webkit-scrollbar-thumb{
  background: #b4b4b4;
  border-radius: 10px;
}

.scroller::-webkit-scrollbar-track{
  background:transparent;
  margin:8px;
}

.scroller::-webkit-scrollbar-corner{
  background:transparent;
}

[type=radio]:checked ~ label ~ .content{
  z-index: 1;
  display: inline;
}
[type=radio]:checked ~ label {
  background: #a922ac;
}

@media (max-width:720px) {
  .about-me-section{
    display: none;
  }

  .about-me-tab{
    display: inline;
  }

  .tabs-container{
    right:50px;
  }

  .tab{
    width: 25%;
  }

  .image-section{
    max-width: calc(100% - 100px);
  }
  .tab:nth-child(3) > label{
    border-top-right-radius: 0px;
  }
  .tab:nth-child(4) > label{
    border-top-right-radius: 10px;
  }
}

@media (max-width:948px) {
  .column{
    float: none;
    max-width: 100%;
  }

  .columns:after{
    content: "";
    display: inline;
    clear: both;
  }
}